- if @stops.empty?
    No stops yet.
- else
    %table
        %tr
            %th
                Symbol
            %th
                Percentage (%)
            %th
                Last Trade
            %th
                Stop Price
            %th
                Quantity
            %th
                Last Updated
        - @stops.each do |stop|
            = render partial: 'stop_row', locals: {stop: stop}
