- offset ||= 10

.spread-chart
  - if !offset.nil?
    #indicator{style: "left: #{offset}%;"}
  #background
    .quarter#first
    .quarter#second
    .quarter#third
    .quarter#fourth
  #labels
    #lowest
      = currency_display lowest
    #highest
      = currency_display highest

