body {
  margin: 0px;
  font-family: "Lucida Console", Lucida, monospace;
}

#body-container {
  min-width: 600px;
  width: 100%;
}

#content-container {
  margin-top: 25px;
  width: 100%;
  overflow: hidden;
}

#header-container {
  width: 100%;
  min-height: 45px;
}

#header-title {
  margin: 5px 15px 0px 0px;
  float: right;
}

.header-text {
  font-size: 35pt;
  font-weight: bold;
  text-shadow: 4px 2px 6px #000;
}




