@import 'application.css.scss';

$selector_round: 25px;

div#chart {
  height: 400px;
  position: relative;
  width: 100%;
  z-index: 0;
}

div#loading {
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

div.period {
  background-color: #eee;
  cursor: hand;
  float: left;
  padding: 15px 0;
  text-align: center;
  &.first {
    @include rounded-left-corners($selector_round);
  }
  &.last {
    @include rounded-right-corners($selector_round);
  }
  &.selected {
    background-color: #ddd;
  }
}

div#period_select {
  padding: 25px 0;
}

div#symbol {
  font-size: 1.25em;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
  width: 100%;
}

