table#positions {
  width: 100%;

  tr {
    display: none;
    &.position:hover td {
      background-color: #BBB;
      cursor: pointer;
    }
    &.visible {
      display: table-row;
    }
  }

  td, th {
    padding: 10px 5px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}

div.link {
  padding: 10px 0;
  width: 100%;
  div.wrapper {
    padding: 0 15px;
  }
}

