= image_tag File.join('splash', 'posts', 'wire.png')
#left-buffer
  .nav-tab#prev
    P
    %br
    %br
    R
    %br
    %br
    E
    %br
    %br
    V
  =# image_tag get_view_image(@view_path, 'left-arrow.png'), :class => "valign"
#post-container
  #posts
    post
#right-buffer
  .nav-tab#next
    N
    %br
    %br
    E
    %br
    %br
    X
    %br
    %br
    T
  =# image_tag get_view_image(@view_path, 'right-arrow.png'), :class => "valign"
