= image_tag File.join('splash', 'posts', 'wire.png')
#left-buffer
  .nav-tab#prev
    P
    %br
    %br
    R
    %br
    %br
    E
    %br
    %br
    V
  =# image_tag get_view_image(@view_path, 'left-arrow.png'), :class => "valign"
#post-container
  #posts
    post
#right-buffer
  .nav-tab#next
    N
    %br
    %br
    E
    %br
    %br
    X
    %br
    %br
    T
  =# image_tag get_view_image(@view_path, 'right-arrow.png'), :class => "valign"

:javascript
  jQuery(function($){
    $(document).ready(function() {
      $('#right-buffer').click(function() {
        alert('next');
      });
      
      $('#left-buffer').click(function() {
        alert('prev');
      });
      
      $('#right-buffer').mouseenter(function() {
        $('#right-buffer').fadeTo(350, .9);
      });

      $('#left-buffer').mouseenter(function() {
        $('#left-buffer').fadeTo(350, .9);  
      });

      $('#right-buffer').mouseleave(function() {
        $('#right-buffer').fadeTo(350, .5);
      });

      $('#left-buffer').mouseleave(function() {
        $('#left-buffer').fadeTo(350, .5);
      });
    });
  });