= form_for [:finance, @portfolio] do |f|
  %table
    %tr
      %th
        = f.label :name, 'Name'
      %td
        = f.text_field :name, placeholder: 'Name'
    %tr
      %td{colspan: 2}
        = f.submit

