@import 'application.css.scss';
@import 'finance.css.scss';

$hover_color: #DADADA;
$spread_round: 10px;

div.portfolio-name {
  align-items: flex-start;
  cursor: default;
  display: inline-block;
  font-size: 1.15rem;
  font-weight: bold;
  margin: 10px 0 10px 10px;
  @include flex;
}

div.portfolio-options {
  display: none;
  padding-left: 5px;
  &.visible {
    @include flex;
  }
}

table.portfolio {
  width: 100%;

  tr {
    display: none;
    &.position:hover td {
      background-color: $hover_color;
      cursor: pointer;
    }
    &.visible {
      display: table-row;
    }
  }

  td, th {
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    &.symbol {
      width: 50px;
    }
    &.spread {
      width: 400px;
    }
    &.actions {
      width: 100px;
      text-align: right;
    }
    div {
      &.actions {
        @include flex;
        align-items: center;
        justify-content: flex-end;
      }
      &.price-details, &.target-quantity {
        font-size: 0.7rem;
      }
      &.target-quantity {
        color: initial;
      }
    }
  }
}

div.menu {
  justify-content: space-between;
  padding: 10px;
  text-align: right;
  @include flex;
  a#new-menu-link:hover {
    text-decoration: none;
  }
  div#new-menu {
    cursor: pointer;
    div#new-menu-options {
      background: white;
      display: none;
      right: 10;
      position: absolute;
      z-index: 2;
      &.visible {
        display: block;
      }
      ul {
        list-style: none;
      }
    }
  }
}

/* TODO add a wrapper around background to avoid the negative
 * margins. Use position: absolution to stack divs */
div.spread-chart {
  height: 10px;
  margin: -20px auto 0 auto;
  max-width: 350px;
  min-width: 200px;
  width: 100%;
  div#background {
    background-color: #EEE;
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include box-shadow(0, 0, 2px, #000);
    @include rounded-left-corners($spread_round);
    @include rounded-right-corners($spread_round);
    div.quarter {
        background-color: #FFF;
        height: 10px;
        text-align: center;
        width: 24.5%;
        &#first {
          @include rounded-left-corners($spread_round);
        }
        &#fourth {
          @include rounded-right-corners($spread_round);
        }
    }
  }
  div#indicator {
    background-color: #000;
    height: 10px;
    position: relative;
    bottom: -10px;
    width: 10px;
    @include rounded-corners(5px);
  }
  div#labels {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    div {
      font-size: 0.75rem;
    }
  }
}

