//= require_tree .

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
  -moz-box-shadow: $offset-x $offset-y $blur $color;
  -webkit-box-shadow: $offset-x $offset-y $blur $color;
}

@mixin gradient($top, $bottom) {
  // old browsers
  background: $top;
  // ff3.6+
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  // chrome, safari4+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  // chrome10+, safari5.1+
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
  // ie10+
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
  // w3c
  background: linear-gradient(to bottom, $top 0%,$bottom 100%);
  // ie6-9
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
}

* {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  z-index: 0;
}

a {
  color: #000;
  text-decoration: underline;
  &:hover {
    font-weight: bold;
    text-decoration: none;
  }
  &.no-underline {
    text-decoration: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  &.odd {
    background-color: #eee;
  }
  &.even {
    background-color: #ddd;
  }
}

th,td {
  padding: 3px 5px;
}

td.number-cell {
  text-align: right;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
  &.dismissed {
    display: none;
    z-index: -1;
  }
  #message-wrapper {
    margin: auto;
    padding: 15px 10px;
    position: relative;
    width: 50%;
    @include box-shadow(1px, 1px, 5px, #000);
    @include rounded-bottom-corners(10px);
    &.notice {
      background-color: green;
      @include gradient(#00A300, #00B800);
    }
    &.alert {
      background-color: #A32900;
      @include gradient(#A32900, #B82E00);
    }
  }
}

#header {
  display: block;
  width: 100%;
  @include box-shadow(0px, 1px, 5px, #000);
  #logo-wrapper {
    display: inline-block;
    padding: 5px 10px;
    #logo {
      height: 40px;
    }
  }
  #caption {
    display: inline-block;
    font-style: italic;
    vertical-align: 15px;
  }
  #login-wrapper {
    float: right;
    padding: 15px 10px;
  }
}

#content-wrapper {
  display: block;
  margin: 10px;
  #content {
    display: block;
  }
}

#top {
  display: block;
  padding: 150px 0 0 75px;
  font-size: 32px;
}

#middle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: block;
  padding: 100px 0 100px 0;
  opacity: 0.05;
  font-size: 26px;
  font-style: italic;
  text-align: center;
}

#bottom {
  display: block;
  padding-right: 75px;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: right;
}

a.dismiss {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

