// Fonts
@font-face {
  font-family: 'Cousine';
  src: url(/fonts/Cousine.ttf) format('truetype');
}

@font-face {
  font-family: 'Neris';
  src: url(/fonts/Neris.otf) format('opentype');
}

@font-face {
  font-family: 'SaxMono';
  src: url(/fonts/SaxMono.ttf) format('truetype');
}

// SASS Mixins
@mixin flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin rounded-bottom-corners($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;
}

@mixin rounded-left-corners($radius) {
  border-bottom-left-radius: $radius;
  -moz-border-radius-bottomleft: $radius;
  -webkit-border-bottom-left-radius: $radius;

  border-top-left-radius: $radius;
  -moz-border-radius-topleft: $radius;
  -webkit-border-top-left-radius: $radius;
}

@mixin rounded-right-corners($radius) {
  border-bottom-right-radius: $radius;
  -moz-border-radius-bottomright: $radius;
  -webkit-border-bottom-right-radius: $radius;

  border-top-right-radius: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-right-radius: $radius;
}

@mixin box-shadow($offset-x, $offset-y, $blur, $color) {
  box-shadow: $offset-x $offset-y $blur $color;
  -moz-box-shadow: $offset-x $offset-y $blur $color;
  -webkit-box-shadow: $offset-x $offset-y $blur $color;
}

@mixin gradient($top, $bottom) {
  // old browsers
  background: $top;
  // ff3.6+
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  // chrome, safari4+
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  // chrome10+, safari5.1+
  background: -webkit-linear-gradient(top, $top 0%,$bottom 100%);
  // ie10+
  background: -ms-linear-gradient(top, $top 0%,$bottom 100%);
  // w3c
  background: linear-gradient(to bottom, $top 0%,$bottom 100%);
  // ie6-9
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top, endColorstr=$bottom,GradientType=0 );
}

// Generic Styling
* {
  font-family: 'SaxMono';
  margin: 0;
  padding: 0;
  &.number {
    font-family: 'SaxMono';
    font-size: 0.9rem;
  }
}

body {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 0;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input.authentication-button {
  display: inline-block;
  padding: 5px 10px;
  @include rounded-corners(5px);
}

input.destroy-button {
  background: #fff image_url('red-x.jpg') no-repeat;
  background-size: 12px 12px;
  border: none;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tr {
  &.odd {
    background-color: #EEE;
  }
  &.even {
    background-color: #DDD;
  }
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

div#overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  &.dismissed {
    display: none;
    z-index: -1;
  }
  div#message-wrapper {
    margin: auto;
    padding: 15px 10px;
    position: relative;
    width: 50%;
    @include box-shadow(1px, 1px, 5px, #000);
    @include rounded-bottom-corners(10px);
    &.notice {
      background-color: green;
      @include gradient(#00A300, #00B800);
    }
    &.alert {
      background-color: #A32900;
      @include gradient(#A32900, #B82E00);
    }
  }
}

div#content-wrapper {
  display: block;
  #content {
    display: block;
  }
}

a.dismiss {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

