#background
#intro
  keep your eyes on the horizon 
  #later
    (more to come soon, stay tuned)
#social
  = social_image('github', 'https://github.com/mattforni')
  = social_image('linkedin', 'https://www.linkedin.com/in/mattforni/')

