@import "application.css.scss";

div#background {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0; 
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-image: url('/images/background.jpg');
  background-position: left top;
  background-size: cover;
}

div#social {
  right: 0;
  padding: 10px 10px 0 0;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
  div.social-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    img {
      height: 100%;
      width: 100%;
      @include rounded-corners(10px);
      &.hover {
        @include box-shadow(0, 0, 10px, black);
      }
    }
  }
}

