@import "application.css.scss";

div#background {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 0; 
  width: 100%;
  height: 100%;
  background-size: cover; 
  background-position: center center;
  background-image: url('/images/background.jpg');
  background-attachment: fixed;
}

div#intro {
  //background-color: rgba(255, 255, 255, 0.5);
  display: block;
  font-size: 22px;
  font-weight: bold;
  left: 50px;
  padding: 15px;
  position: absolute;
  top: 300px;
  z-index: 1;
  //@include box-shadow(0, 0, 25px, white);
  //@include rounded-corners(15px);
  div#later {
    color: white;
    font-size: 16px;
    font-weight: normal;
  }
}

div#social {
  bottom: 0;
  color: white;
  left: 0;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
  div.social-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    img {
      height: 100%;
      width: 100%;
      @include rounded-corners(10px);
      &.hover {
        @include box-shadow(0, 0, 10px, white);
      }
    }
  }
}

