.link
    .wrapper
        = link_to 'Home', root_url
- if @positions.empty?
    No positions yet.
- else
    %table#positions
        %tr.visible
            %th.symbol.left
                Symbol
            %th.right
                Last Price
            %th.right
                Quantity
            %th.right
                Current Value
            %th.spread
                Spread 
            %th.actions
                Actions
        - @positions.each_with_index do |position, index|
            = position_partial position, index if !position.holdings.empty?
        %tr.visible
            %th.left
                Total
            %td{colspan: 2}
            %td.number
                = currency_display @total_value
            %td{colspan: 3}
.link
    .wrapper
        = link_to 'Add', new_finance_holding_path if can?(:create, Holding)

