%table
  %tr
    %td
      Position Size:
    %td
      = number_to_currency(@position_size, precision: 2)
  %tr
    %td
      Last Trade:
    %td
      = number_to_currency(@quote[:lastTrade], precision: 2)
  %tr
    %td
      = "# of Shares:"
    %td
      = number_with_delimiter(@num_shares.to_i)

