%html
  = render partial: 'layouts/head', locals: { |
      action: params[:action],                |
      controller: params[:controller],        |
      title: 'welcome'                        |
    }                                         |

  %body
    - devise_error_messages!
    #overlay{class: (alert or notice) ? '' : 'dismissed'}
      #message-wrapper{class: alert ? 'alert' : 'notice'}
        - if alert
          = alert
          - (flash[:errors] || []).each do |e|
            %li=e
        - else
          = notice

    #content-wrapper
      #content
        = yield

