%html
  %head
    %title="mattforni"
    = stylesheet_link_tag "standard"
    = stylesheet_link_tag "rounding"
    = javascript_include_tag :defaults
    =# csrf_meta_tag
  
  %body
    #header-container
      #header-title.header-text
        mattforni
        
    = yield
    